# Python virtual environment
.venv/
env/
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Data files (do not push raw datasets to GitHub)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Models & OS files
*.joblib
*.pkl
.DS_Store
